:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #e5e7eb;
  --color-contrast: #a29595;
}

.hamburger {
  width: 36px;
  height: 36px;
}

.top_nav {
  display: none;
}

.bg-card {
  background-color: var(--color-white);
}

.border-grey {
  border-color: var(--color-grey);
}

.card-hover:hover,
.nav-hover:hover {
  box-shadow: 0 0 8px var(--color-contrast);
}

.footer-logo {
  font-weight: bold;
  letter-spacing: 0.07em;
}

@media (min-width: 1024px) {
  .top_nav {
    display: flex;
  }
  .hamburger {
    display: none;
  }

  .resume_page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
  }
}
