:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #e5e7eb;
  --color-contrast: #a29595;
}

.hamburger {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_nav {
  display: none;
}

.card-hover:hover,
.nav-hover:hover {
  box-shadow: 0 0 8px var(--color-contrast);
}

.footer-logo {
  font-weight: bold;
  letter-spacing: 0.07em;
}

.footer-title {
  display: none;
}

@media (min-width: 1024px) {
  .top_nav {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .footer-title {
    display: block;
  }
}
